---
import BaseLayout from "@layouts/BaseLayout.astro";
import StatsContainer from "@components/Stats/StatsContainer.astro";
import StatsOverviewIndividual from '@components/Stats/StatsOverviewIndividual.astro';
const pageTitle = 'Site Stats';

import { exec } from 'node:child_process';
import { promisify } from 'node:util';

const execAsync = promisify(exec);

// Example: run a command during build
const numPostResult =
    await execAsync('find aaronmoreycom_content/content/posts -iname "*.md" | wc -l');
let numPosts = numPostResult.stdout.trim();

const postWordsResult =
    await execAsync('find aaronmoreycom_content/content/posts -type f -iname "*.md" -exec cat {} \\; | wc -w');
let postWords = postWordsResult.stdout.trim();
---
<BaseLayout pageTitle={pageTitle}>
<h2>Blog</h2>
    <StatsContainer>
        <StatsOverviewIndividual
                title="Posts"
                value={numPosts}
                backgroundColor="var(--medium-blue)" />
        <StatsOverviewIndividual
                title="Words"
                value={postWords}
                backgroundColor="var(--green)" />
    </StatsContainer>
</BaseLayout>