---
import CollectionIndex from '@components/Collection/CollectionIndex.astro';
const introText = `
    <div>Samples of code I've written, as well as writing on technical topics.</div>
`;
---
<CollectionIndex collection="code" pageTitle="Code" introText={introText} includeEntriesHeader={false} />
