[submodule "aaronmoreycom_content"]
	path = aaronmoreycom_content
	url = git@github.com:aaronmfmorey/aaronmoreycom_content.git
    branch = main
[submodule "src/assets/Font-Awesome"]
	path = src/assets/Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
