---
import BaseLayout from '@layouts/BaseLayout.astro';
import BooksAndPagesChart from "@components/Reading/BooksAndPagesChart.astro";
import StatsOverview from '@components/Reading/ReadingStatsOverview.astro';
import BooksByCentury from "@components/Reading/BooksByCentury.astro";
---

<BaseLayout pageTitle={'Reading Stats'}>
    <div>
        <a href="/reading/">&laquo; Reading List</a>
    </div>
    <br />
    <StatsOverview />
    <BooksAndPagesChart />
    <BooksByCentury />
    <!--<PagesPerDayChart />-->
</BaseLayout>