---
import BaseLayout from '@layouts/BaseLayout.astro';
import BooksAndPagesChart from "@components/Reading/BooksAndPagesChart.astro";
---

<BaseLayout pageTitle={'Reading Stats'}>
    <a href="/reading/">&laquo; Reading List</a>
    <BooksAndPagesChart />
    <!--<PagesPerDayChart />-->
</BaseLayout>