html {
    color: var(--near-black);
    background-color: var(--white);
}

h1 {
    font-variant: small-caps;
}

a {
    color: var(--color-links);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.anchor-link {
    color: var(--light-grey);
    font-size: .4em;
    vertical-align: middle;
    margin-left: .5em;
}

a.anchor-link:hover {
    color: var(--medium-grey);
}

@layer base {
    ul, ol, li {
        list-style: revert-layer;
        margin: revert-layer;
        padding: revert-layer;
    }
}

table {
    width: 95%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    padding-left: 10px;
}

tr {
    border: 1px black solid;
}

button {
    font-family: inherit;
    font-size: inherit;
}

/*
 * Astro has an overriding specificity on odd numbered tables,
 * mark as !important to ensure this styling takes precedence.
 */
tbody tr.odd {
    background-color: var(--nearly-white);
}

thead tr {
    background-color: var(--near-black);
    color: var(--light-grey);
    font-family: var(--ff-subheads);
    font-weight: 800;
    font-style: italic;
    line-height: 1.1em;
}

/* Override for dark mode */
html[data-theme="dark"] {
    background-color: var(--black);
    color: var(--dark-color-body-text);
    font-family: var(--dark-ff-body);
    font-size: 18px;

    main {
        max-width: clamp(250px, 60sch, 100%);
    }

    a {
        color: var(--dark-color-links);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--ff-code);
        letter-spacing: -0.08em;
        color: var(--dark-heading-color);
    }

    blockquote {
        color: var(--dark-blockquote-color);
        font-style: italic;
    }

    blockquote em {
        font-style: normal;
    }
}