a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@layer base {
    ul, ol, li {
        list-style: revert-layer;
        margin: revert-layer;
        padding: revert-layer;
        margin-left: 1.5em;
    }
}

/* Override for dark mode */
html[data-theme="dark"] {
    background-color: black;

    color: white;
    a {
        color: red;
    }
}