@import "tailwindcss";

:root {
    /* Fonts */
/*"Gugi", Just for my name?*/
    --ff-sans-serif: "Slabo 27px", "Helvetica", sans-serif;
    --ff-serif: "Cormorant Garamond", serif;

    /* From Modern Font Stacks: https://modernfontstacks.com/?stack=system-ui */
    --ff-oldstyle: 'Assistant', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', "P052";

    /* Colors */
    --background-color: rgb(250 254 255);
    --background-color-transparent: hsl(192deg 100% 99% / 50%);
    --header-color: rgb(1 41 95);
    --link-color: rgb(67 127 151);
    --link-hover-color: rgb(90 171 204);
    --nav-hover-color: rgb(255 119 0);
    --nav-hover-color-transparent: hsl(28deg 100% 50% / 80%);
    --lighter-highlight: rgb(255 204 102);
    --rather-light-highlight: rgb(255 230 179);
    --lightest-highlight: rgb(255 255 230);
    --nav-link-hover-color: rgb(250 254 255);
    --darker-font-color: rgb(31 32 35 / 63%);
    --lighter-font-color: rgb(105 105 105);
    --barely-visible-grey: rgb(216 216 216);
    --even-lighter-than-barely-visible: rgb(240 240 240);
    --glassy-background: hsl(197deg 54% 95% / 50%);
    --glassy-background-opaquer: rgba(235 245 249 .95);
}

html {
    font-family: var(--ff-oldstyle), serif;
    color: #000;
    font-size: 20px;
    hyphens: auto;
    /* font-weight: 100; */
    /* background: linear-gradient(135deg, var(--link-hover-color) 0%, var(--header-color) 100%); */
    background-color: #FAFAFA;
}

body {
    margin: 0 auto;
    width: 100%;

    /* 80ch was about 100 characters, so this is 80% of 80 */
    max-width: 75ch;
    padding: 1rem;
    line-height: 1.5;
    background-color: #fff;
    @apply shadow;
    @apply rounded-md;
    @apply border-1;
    @apply border-gray-200;

    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-sans-serif);
    /*font-weight: 800;*/
    line-height: 1.25;
    margin-bottom: .75rem;
    margin-top: .75rem;
    color: var(--header-color);
}

h1 {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
    border-bottom: 5px inset var(--lighter-highlight);
    filter: drop-shadow(.075em .075em 1px var(--barely-visible-grey));
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    filter: drop-shadow(.075em .075em 1px var(--barely-visible-grey));
}

blockquote {
    border-radius: 5px;
    border-color: #ccc;
    border-width: 1.5px;
    padding: 10px;
    border-left: 5px solid var(--lighter-highlight);
    background-color: #fff;
    margin-bottom: 1rem;
}

blockquote.book-review {
    color: var(--darker-font-color);
    font-size: .9em;
    margin: 1rem;
}

.open-button {
    color: var(--link-color);
}

.open-button:hover {
    color: var(--link-hover-color);
    border-bottom: 5px inset var(--lighter-highlight);
    margin-bottom: -5px;
}

.book-cover-container {
    max-width: 150px;
    margin-right: 10px;
}

blockquote p {
    margin-bottom: 0;
    color: var(--lighter-font-color);
}

code {
    font-size: .8em;
}

p > code {
    background-color: var(--even-lighter-than-barely-visible);
    padding: .25em;
    border-radius: 5px;
    color: var(--lighter-font-color);
}

pre:has(code) {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.expressive-code {
    margin-bottom: 1rem;
}

.expressive-code .frame.has-title:not(.is-terminal) .title {
    font-size: .75em;
    font-weight: 600;
}

:has(table) {
    overflow-x: auto;
    display: block;
    width: 100%;
}

table {
    min-width: 100%;
    width: max-content;
    border-collapse: collapse;
}


td, th {
    padding-left: 10px;
    padding-right: 10px;
    right: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

ruby.stressed-syllable {
    font-style: italic;
    position: relative;
    line-height: .1rem;
}

ruby.stressed-syllable rt {
    font-size: 1.5rem;
    position: relative;
    top: 1rem;
}

ul {
    list-style: disc;
    margin-left: 1.25rem;
    padding-bottom: 1rem;
}

li {
    margin-left: 1.25rem;
}

.anchor-link, .anchor-link:visited {
    font-size: .5em;
    vertical-align: middle;
    color: var(--barely-visible-grey);
    padding-left: 5px;
}

.anchor-link:hover {
    color: var(--lighter-font-color);
    border:none;
    font-style: normal;
}

.blog-post ul {
    list-style: disc;
    margin-left: 1.5em;
}

.blog-post ol {
    list-style: decimal;
    margin-left: 1.5rem;
}

.markdown-post ol {
    list-style: decimal !important;
    margin-left: 1.5rem;
}

.post-excerpt p {
    margin-bottom: .5em;
    display: inline;
}

.byline-wrapper {
    font-size: .8em;
    margin-left: 10px
}

a.read-more {
    font-weight: 500;

}

div.micro-container {
    padding: 10px;
    border: 1px solid #e1f5fe;
    border-radius: 5px;
    background-color: #e1f5fe;
    margin: 20px 10px 10px;
}

h3.book-title {
    font-size: 1.1em;
}

a.bookshop-affiliate-link {
    font-style: normal;
    border: none;
}

/* nav styles */
.hamburger {
    padding-right: 2em;
    cursor: pointer;
    font-size: 2em;
    border-radius: 15px;
}

.hamburger i {
    font-size: .75em;
    color: var(--link-color);
    border-radius: 50%;
    padding: 1em;
    width: 1.5em;
    height:1.5em;
    display: flex;
    align-items: center;
    place-content: center;
}

.nav-links {
    display: none;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--ff-sans-serif);
    font-size: .8em;
}

.nav-links a.active{
    background-color: var(--nav-hover-color-transparent);
    color: var(--background-color);
}

.nav-links a:hover,
.nav-links a:focus {
    border: none;
}

.nav-links a.active:hover{
    color: var(--background-color);
    font-style: normal;
    filter: drop-shadow(.125em .125em 1px var(--barely-visible-grey));
}

.fa-tag-wrapper {
    color: var(--header-color);
}

.expanded {
    display: unset;
    z-index: 100;
    position: absolute;
    top: 80px;
    left: 10px;
    width: 95%;
    padding: 5px;
}

section.footnotes {
    border-top: var(--link-color) 1px solid;
    padding-top: .75em;
}

h2#footnote-label {
    font-size: 1.25rem;
}

.pagination-link {
    font-family: var(--ff-sans-serif);
    font-weight: 400;
}

a.pagination-link:hover {
    color: var(--nav-hover-color);
    border: none;
    font-style: normal;
}

.pagination-link.disabled {
    color: var(--lighter-font-color);
}

.glassy {
    /* CREDIT: https://css.glass */
    background: var(--glassy-background);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgb(225 225 225);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225 225 225);
    backdrop-filter: blur(5px) saturate(10%);
}

.my-shadow {
    filter: drop-shadow(.33em .33em 2px var(--barely-visible-grey));
}

.my-shadow:hover {
    filter: drop-shadow(.25em .25em 1px var(--barely-visible-grey));
}

@media screen and (width >= 636px) {
    .nav-links {
        margin-left: 5em;
        display: flex;
        position: static;
        width: auto;
    }

    .nav-links a {
        padding: 5px 10px;
        font-size: .9em;
    }

    .full-size-header {
        width: 100%;
        margin-left: 0;
        padding: 5px;
        z-index: 1000;
    }

    header {
        position:sticky;
        top: 0;
        z-index: 10;
        padding: 5px;
    }

    .hamburger {
        display: none;
    }

    h3.book-title {
        font-size: 1.5em;
    }
}

@media screen and (width <= 636px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    div, p {
        font-size: 0.9em;
    }
    
    .nav-links a {
        font-size: 0.9em;
    }

    .book-cover-container {
        max-width: 100px;
        margin-right: 10px;
    }

    header {
        position:sticky;
        top: 0;
        z-index: 10;
        padding: 5px;
    }

}