@utility glassy {
    /* From https://css.glass */
    background: rgba(235 235 235, 0.66);
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 100%;
}