---
const { url, label, icon, currentPath, itemPath } = Astro.props;
---
<a href={url} aria-label={label} class=`block text-center ${currentPath == itemPath ? 'active' : ''}`>
    <span><i class={`icon ${icon}`}></i></span>
    <span>{label}</span>
</a>

<style>
    a {
        font-family: var(--ff-subheads);
        line-height: 1.5;
        font-size: var(--font-size-h6);
        font-weight: 800;
        filter: drop-shadow(0 0 2px var(--nearly-white));
    }

    a.active{
        background-color: var(--red);
        color: var(--nearly-white);
        text-shadow: none;
        border-radius: 1rem;
    }
</style>