---
const { url, label, icon, currentPath, itemPath } = Astro.props;
---
<a href={url} aria-label={label} class=` block text-center ${currentPath == itemPath ? 'active' : ''}`>
    <span><i class={`icon ${icon}`}></i></span>
    <span>{label}</span>
</a>

<style>
    a {
        font-family: var(--ff-subheads);
    }

    a.active{
        text-shadow: none;
        border-radius: 1rem;
        color: var(--near-black);
    }
</style>