---
import NavigationLink from '@components/Navigation/NavigationLink.astro';
// Credit: https://www.cyishere.dev/blog/astro-active-nav-item
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1];
---
<details class="relative">
    <summary class="cursor-pointer p-2 font-medium">Menu</summary>
    <nav class="absolute top-full w-full left-0 right-0 bg-white border-b border-gray-200 flex flex-col z-50 justify-center">
        <NavigationLink
            url="/"
            label="Home"
            icon="fa-solid fa-house-chimney" />
        <NavigationLink
            url="/about/"
            label="About"
            icon="fa-solid fa-circle-info" />
        <NavigationLink
            url="/posts/1"
            label="Blog"
            icon="fa-solid fa-pen-to-square" />
        <NavigationLink
            url="/micros/"
            label="Micros"
            icon="fa-solid fa-mobile-screen-button" />
        <NavigationLink
            url="/reading/"
            label="Reading"
            icon="fa-solid fa-book-open-reader" />
        <NavigationLink
            url="/code/"
            label="Code"
            icon="fa-solid fa-code" />
        <NavigationLink
            url="/etc/"
            label="Etc."
            icon="fa-solid fa-sink" />

        <pagefind-modal-trigger compact="true" hide-shortcut="true" class="pagefind-modal-trigger"></pagefind-modal-trigger>
        <pagefind-modal></pagefind-modal>
    </nav>
</details>

<style>
    nav {
        background-color: white;
    }

    details {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-out;
    }

    details > summary::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f0c9"; /* down arrow */
        margin-right: 10px;
    }

    details[open] > summary::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f00d"; /* down arrow */
        margin-right: 10px;
    }

    details summary {
        list-style: none;
    }
</style>