---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "What's This All About?";
import AboutText from '../../aaronmoreycom_content/content/data/about-me.html';
import AboutSiteText from '../../aaronmoreycom_content/content/data/about-me-site.html';
---
<BaseLayout pageTitle={pageTitle}>
    <h2>About Aaron</h2>
    <AboutText />
    <h2>About This Site</h2>
    <AboutSiteText />
</BaseLayout>
