---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutText from '@contentsubmodule/about.md';
import BitmojiImage from '@components/BitmojiImage.astro';
import GardenBitmoji from '../assets/images/GardenBitmoji.png';
import AnchoredHeader from '@components/AnchoredHeader.astro';
const pageTitle = "About This Site";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Modern Tools, Web 1.0 Attitude</h2>
    <div class="float-start">
        <BitmojiImage src={GardenBitmoji} alt="A caricature of me standing near a potted plant" />
    </div>
    <AboutText />
    <AnchoredHeader text="About Aaron" hLevel="2" />
    <AnchoredHeader text="Professional Skills" hLevel="3" />
    <div class="skills">
        <blockquote class="skill-container pop delay-1">
            <h4><i class="fa-solid fa-server"></i> Server Side</h4>
            <ul>
                <li>PHP</li>
                <li>C#/.NET</li>
                <li>Java</li>
                <li>Python</li>
            </ul>
        </blockquote>
        <blockquote class="skill-container pop delay-3">
            <h4><i class="fa-solid fa-globe"></i> Web</h4>
            <ul>
                <li>HTML/CSS</li>
                <li>Javascript/Typescript</li>
                <li>ExtJS</li>
                <li>NextJS</li>
                <li>Astro Framework</li>
                <li>RESTful APIs</li>
            </ul>
        </blockquote>
        <blockquote class="skill-container pop delay-2">
            <h4><i class="fa-solid fa-database"></i> Data</h4>
            <ul>
                <li>SQL</li>
                <li>MongoDB</li>
            </ul>
        </blockquote>
        <blockquote class="skill-container pop delay-3">
            <h4><i class="fa-solid fa-cloud"></i> Cloud</h4>
            <ul>
                <li>AWS</li>
                <li>Github</li>
            </ul>
        </blockquote>
        <blockquote class="skill-container pop delay-2">
            <h4><i class="fa-solid fa-building"></i> Industries</h4>
            <ul>
                <li>Insurance/Finance</li>
                <li>Warehousing Logistics</li>
                <li>Marketing</li>
            </ul>
        </blockquote>
        <blockquote class="skill-container pop delay-1">
            <h4><i class="fa-solid fa-people-arrows"></i> Management</h4>
            <ul>
                <li>Project Management</li>
                <li>Product Ownership</li>
                <li>People Management</li>
            </ul>
        </blockquote>
    </div>
</BaseLayout>

<style>
    .skills {
        column-count: auto;
        column-width: 250px;
        column-gap: 15px;
    }

    .skill-container {
        display: inline-block;
        width: 100%;
    }

    /* CREDIT: https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/ */
    .skill-container.pop {
        animation-duration: 0.5s;
        animation-name: animate-pop;
        animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    }

    @keyframes animate-pop {
        0% {
            opacity: 0;
            transform: scale(0.5, 0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
    .delay-1 {
        animation-delay: 0.6s;
    }
    .delay-2 {
        animation-delay: 0.7s;
    }
    .delay-3 {
        animation-delay: 0.8s;
    }
</style>