---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutText from '@contentsubmodule/about.md';
import BitmojiImage from '@components/BitmojiImage.astro';
import GardenBitmoji from '../assets/images/GardenBitmoji.png'
const pageTitle = "About This Site";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="float-start">
        <BitmojiImage src={GardenBitmoji} alt="A caricature of me standing near a potted plant" />
    </div>
    <AboutText />
</BaseLayout>

<style is:global>
    li {
        margin-left: 2em;
        line-height: 1.5em;
    }
</style>