---
import type {ImageMetadata} from "astro";
import BaseLayout from '@layouts/BaseLayout.astro';
import BitmojiImage from "@components/BitmojiImage.astro"
import bookAndLaptop from '../assets/images/BookAndLaptopBitmoji.png';
import AboutText from "@contentsubmodule/data/about-me.html";
import AboutLinks from "@components/AboutLinks.astro";
const pageTitle = "Aaron Morey";

---
<BaseLayout pageTitle={pageTitle}>
	<div class="flex w-full justify-center">
		<BitmojiImage src={bookAndLaptop} alt="A caricature of me reading a book in front of a laptop" />
	</div>
	<h2>About Me</h2>
	<AboutText/>
	<AboutLinks/>
</BaseLayout>