---
import type {ImageMetadata} from "astro";
import BaseLayout from '@layouts/BaseLayout.astro';
import BitmojiImage from "@components/BitmojiImage.astro";
import bookAndLaptop from '../assets/images/BookAndLaptopBitmoji.png';
import AboutText from "@contentsubmodule/data/about-me.html";
import AboutLinks from "@components/AboutLinks.astro";
const pageTitle = "Aaron Morey";

---
<BaseLayout>
	<h1 class="hero-header">Aaron Morey</h1>
	<div class="flex w-full justify-center">
		<BitmojiImage src={bookAndLaptop} alt="A caricature of me reading a book in front of a laptop" />
	</div>
	<h2>About Me</h2>
	<p>
		I'm a <span><code>web developer <span class="cursor">▉</span></code></span>  in the Milwaukee area, working as a software development manager.
	</p>
	<p>I have over fifteen years experience across multiple industries including
		insurance, finance, marketing, and warehousing/logistics. I believe in good code, customer service, strong
		communication, and the Oxford comma.
	</p>
	<AboutLinks/>
</BaseLayout>
<style>
	span:has(code) {
		padding: 5px;
		border-radius: 5px;
		/*background-color: var(--darker-font-color);*/
		color: #6af549;
		background-color: black;
		font-family: monospace;
		font-size: .8em;
	}

	span > code::before {
		content: "> ";
		font-weight: 800;
		/*animate: blinker 1s infinite;*/
	}

	.cursor {
		animation: blink 1.25s infinite;
		animation-fill-mode: both;
	}

	@keyframes blink {
		0% { opacity: 0 }
		50% { opacity: 1 }
		100% { opacity: 0 }
	}

	.hero-header {
		font-size: clamp(64px, 8vw, 15ch);
		font-weight: 800;
	}
</style>