---
import BaseLayout from '@layouts/BaseLayout.astro';
import micros from "@contentsubmodule/data/micros.json";
micros.sort((a, b) => {
    return a.date > b.date ? -1 : 1;
})
import microsIntro from "@contentsubmodule/data/micros-intro.html";
console.log("microsIntro: " , microsIntro);
import MicroPost from "@components/MicroPost.astro";
import onTheJohn from "../assets/images/OnTheJohn.png";
const pageTitle = "Micro Posts";

---
<BaseLayout pageTitle={pageTitle}>
    <p>
        You may remember the microblog, sites that had things like birds on their logos. You'd post your lunch, or little
        jokes and other people would comment on them. This is my one-way microblog: I post my brief thoughts, you read.
        Anti-social media, if you will.
    </p>
    <div class="micro-container">
        {
            micros.map(micro => (<MicroPost micro={micro} avatar={onTheJohn} />))
        }
    </div>
</BaseLayout>
<style>
    div.micro-container {
        padding: 10px;
        margin: 10px;
        border: 1px solid #e1f5fe;
        border-radius: 5px;
        background-color: #e1f5fe;
        margin-top: 20px;
    }
</style>