---
import CollectionIndex from '@components/Collection/CollectionIndex.astro';
const introText:string = `
    <div>Various things I'm interested in. It's not exactly writing, 
    not exactly blog posts. It's miscellaneous.</div>
`;
---
<CollectionIndex collection="etc" pageTitle="Etc." introText={introText} includeEntriesHeader={false} />
