---
import linkCollection from '../../aaronmoreycom_content/content/data/aboutlinks.json';
---
<h2>Find Me At</h2>
<div class="table m-5">
    {
        linkCollection.map((item, index) =>
            <div class="table-row text-[1.5em]">
                <span class="leading-[1.5] table-cell"><i class={item.icon}></i></span>
                <span class="table-cell pl-[.5em]"><a href={item.url}>{item.title}</a></span>
            </div>)
    }
</div>

<style>
    /* Declare a custom CSS class to make the icon look right */
    i {
        color: #01295F;
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
    }
</style>