---
const { platform } = Astro.props;

const platformConfig = {
    'rss': {
        'icon': 'fa-solid fa-square-rss',
        'url': '/feed.xml',
        'title': 'Subscribe'
    },
    'github': {
        'icon': 'fa-brands fa-github',
        'url': 'https://github.com/aaronmfmorey',
        'title': 'Github'
    },
}

const thisPlatform = platformConfig[platform];

---
<a href={thisPlatform.url} class="social-link glassy">
    <i class={thisPlatform.icon}></i>
    <span>{thisPlatform.title}</span>
</a>

