---
const { platform } = Astro.props;

const platformConfig = {
    'rss': {
        'icon': 'fa-solid fa-square-rss',
        'url': '/feed.xml',
        'title': 'Subscribe'
    },
    'github': {
        'icon': 'fa-brands fa-github',
        'url': 'https://github.com/aaronmfmorey',
        'title': 'Github'
    },
    'goodreads': {
        'icon': 'fa-brands fa-goodreads',
        'url': 'https://www.goodreads.com/user/show/17419152-aaron',
        'title': 'GoodReads'
    },
    'hevy': {
        'icon': 'fa-solid fa-dumbbell',
        'url': 'https://hevy.com/user/aaronmorey',
        'title': 'Hevy'
    },
    'runtastic': {
        'icon': 'fa-solid fa-person-running',
        'url': 'https://www.runtastic.com/user/d9bb3c74-88e8-0eeb-05d1-25fdcab71eb8',
        'title': 'Runtastic'
    },
}

const thisPlatform = platformConfig[platform];

---
<a href={thisPlatform.url} class="social-link glassy">
    <i class={thisPlatform.icon}></i>
    <span>{thisPlatform.title}</span>
</a>

