---
import {runSqliteQuery, QUERIES} from '@utils/db-operations.ts';
import StatsOverviewIndividual from "@components/Reading/StatsOverviewIndividual.astro";
const booksAndPagesSummaryData = runSqliteQuery(QUERIES.BOOKS_AND_PAGES_SUMMARY)[0];
console.log(booksAndPagesSummaryData);
---
<div class="hflex">
    <StatsOverviewIndividual
            title="Books"
            value={booksAndPagesSummaryData.total_books_read}
            backgroundColor="var(--medium-blue)" />
    <StatsOverviewIndividual
            title="Pages"
            value={booksAndPagesSummaryData.total_pages_read}
            backgroundColor="var(--darker-green)" />
</div>

<style>
    .brick div {
        display: block;
    }
</style>
