---
const {firstUrl, currentUrl} = Astro.props;
---
{
    firstUrl == currentUrl
    ? (<span class="pagination-link disabled">&laquo;</span>)
    : (
    <a href={firstUrl} class="pagination-link">&laquo;</a>
    )
}