---
import {humanReadableDate} from "@utils/utils";
const {frontmatter, post} = Astro.props;
const wordCount = post.body.split(' ').length;
const minutes = Math.ceil(wordCount / 200);
---
<div class="leading-[3rem] text-gray-500 italic pb-0.5 leading-0">
    <span>{humanReadableDate(frontmatter.pubDate.toString())}</span> -
    <span>{frontmatter.author ?? "Aaron Morey"}</span> -
    <span>{wordCount} words ({minutes} minute{minutes == 1 ? "" : "s"})</span>
</div>