---
import PostTag from "./PostTag.astro";
const {tags} = Astro.props;
---
<span class="pb-[10px] byline-wrapper">
    {
        !!tags
            ? <i class="fa fa-tag pr-1"/>
            : ""
    }
    {
        !!tags ?
            tags.map((tag :String, index, arr) => <PostTag tag={tag} index={index} arr={arr} />)
            : ""
    }
</span>
