---
import {slugify} from "@utils/utils.ts";
const {tag, index, arr} = Astro.props;
---
<span class="fa-tag-wrapper">
    <a href={`/tags/${slugify(tag)}`}>{tag}</a>{
        index < arr.length - 1
            ? ","
            : ""
    }
</span>