---
const {title, value, backgroundColor, formatter} = Astro.props;
---
<div class="hflex-item stats-overview">
    <div class="title-field" style={`background-color: ${backgroundColor};`}>
        {title}
    </div>
    <div class="number-field">
        {
            formatter ?
                formatter(value)
                : new Intl.NumberFormat('en-US').format(value)
        }
    </div>
</div>

<style>
    @reference 'tailwindcss';

    .hflex-item {
        text-align: center;
        flex: 200px;
        justify-content: center;
        align-items: center;
        display: block;
    }

    div.stats-overview {
        background-color: var(--white);
        border-radius: 10px;
        border-color: #ccc;
        border-width: 1px;
        @apply shadow;
        @apply border;
        margin: 10px;
    }

    div.stats-overview .title-field {
        font-weight: bold;
        color: var(--white);
        font-family: var(--ff-oldstyle);
        text-align: center;
        padding: 5px;
        background-color: var(--black);
    }

    div.stats-overview .number-field {
        font-size: 2.5rem;
        font-family: var(--ff-subheads);
        text-align: center;
        font-size: var(--font-size-h3);
    }

</style>