---
const {title, value, backgroundColor, animationClass} = Astro.props;
---
<div class=`hflex-item reading-widget ${animationClass}`>
    <div class="title-field" style={`background-color: ${backgroundColor};`}>
        {title}
    </div>
    <div class="number-field">
        {new Intl.NumberFormat('en-US').format(value)}
    </div>
</div>
