---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font Awesome -->
    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Make Meta pages discoverable -->
    <link
            rel="alternate"
            type="application/rss+xml"
            title="Aaron Morey Dot Com"
            href={new URL("feed.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <!-- Google Fonts -->
    <!-- TODO AMM Trim down this font list -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Beth+Ellen&family=Borel&family=Covered+By+Your+Grace&family=Delicious+Handrawn&family=Dr+Sugiyama&family=Faculty+Glyphic&family=Federo&family=Fjalla+One&family=Gabarito:wght@400..900&family=Galdeano&family=Gloria+Hallelujah&family=Grand+Hotel&family=Just+Another+Hand&family=Lexend:wght@100..900&family=Limelight&family=Londrina+Solid:wght@100;300;400;900&family=Mansalva&family=Meddon&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Patrick+Hand&family=Poller+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap" rel="stylesheet">

    <title>{pageTitle}</title>
</head>
<body>
<Header />
<h1>{pageTitle}</h1>
<slot />
<!--<Footer />-->
<script>
    import "../scripts/menu.js";
</script>
</body>
</html>