---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Font Awesome -->
    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />
    <link href="/fontawesome/css/sharp-thin.css" rel="stylesheet" />
    <link href="/fontawesome/css/duotone-thin.css" rel="stylesheet" />
    <link href="/fontawesome/css/sharp-duotone-thin.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Make RSS discoverable -->
    <link
            rel="alternate"
            type="application/rss+xml"
            title="Aaron Morey Dot Com"
            href={new URL("feed.xml", Astro.site)}
    />

    <title>{pageTitle}</title>
</head>
<body class="text-xl">
<Header />
<h1>{pageTitle}</h1>
<slot />
<!--<Footer />-->
<script>
    import "../scripts/menu.js";
</script>
</body>
</html>