---
import BaseLayout from './BaseLayout.astro';
import PostTagList from "../components/PostTagList.astro";
const { frontmatter } = Astro.props;

const humanReadableDate = function(value: String) {
    const ts = Date.parse(value);
    if (isNaN(ts)) {
        return value;
    } else {
        return (
            new Intl.DateTimeFormat(
                "en-US",
                {year: "numeric", month: "long", day: "numeric",}
            )
        ).format(ts);
    }
    // TODO AMM - use utils date
};
---
<BaseLayout pageTitle={frontmatter.title}>
    <PostTagList tags={frontmatter.tags} />
    <div class="leading-[3rem] text-gray-500 italic">
        <span>{humanReadableDate(frontmatter.pubDate.toString())}</span> -
        <span>Written by: {frontmatter.author ?? "Aaron Morey"}</span>
    </div>
    <!--TODO AMM Default Author to me unless otherwise noted -->
    <slot />
</BaseLayout>
<style>
    a {
        color: #00539F;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>