---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostTagList from "@components/Blog/PostTagList.astro";
import PostByline from "@components/Blog/PostByline.astro";
const { frontmatter, post, showByline, showWordCount } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="markdown-post">
        <PostByline
                frontmatter={frontmatter}
                post={post}
                showWordCount={frontmatter.showWordCount ?? showWordCount ?? false}
                showByline={frontmatter.author ?? showByline ?? false}
        />
        <PostTagList tags={frontmatter.tags} />
        <slot />
    </div>
</BaseLayout>
<style>
    a {
        color: #00539F;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>