---
import CollectionIndex from '../../components/Collection/CollectionIndex.astro';
const introText = `
    <div>This is a place for things I write that may update periodically, and 
    I expect to be more permanent than a blog post.</div>
`;
---
<CollectionIndex collection="writing" pageTitle="Writing" introText={introText} />
